@font-face {
    font-family: 'source-han-serif-sc';
    src: url('../font/Mantou-Regular.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-han-serif-sc';
    src: url('../font/Mantou-Bold.woff2') format('opentype');
    font-weight: bold;
    font-style: normal;
}
